@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-primary: 'Roboto', sans-serif;

$clr-light-100: #fff;
$clr-light-200: #dad4d4;
$clr-dark-100: #343131;
$clr-dark-200: #474242;
$clr-additional-100: #9fa0ff;
$clr-additional-200: #185adb;
