@use "../abstracts" as *;

:root {
  font-size: 10px;
  color: $clr-light-100;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

// FORMS

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: $clr-light-100;
  font-size: 1.5rem;

  &:focus {
    box-shadow: inset 0 0 4px 4px $clr-light-200;
  }
}

input::placeholder {
  color: $clr-light-100;
}

button {
  cursor: pointer;
}

.btn--icon {
  line-height: 0;
}

.btn--default {
  padding: 0.5em;
  border: 2px solid $clr-light-100;
  transition: 0.3s;

  &:hover {
    background: $clr-dark-100;
  }
}

.form--empty {
  border-color: #e63946 !important;
}

// LISTS

ul {
  list-style: none;
}

// TYPOGRAPHY

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: $clr-light-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

@media (min-width: 500px) {
  label {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5em;
  }

  input,
  textarea,
  select,
  button {
    font-size: 2rem;
  }
}

.container--widget {
  padding: 1rem 2rem;
  overflow-y: auto;
  word-wrap: break-word; // optional if in the Tasks are long words

  margin: 10px;

  &__background {
    background-color: rgba($clr-dark-200, 0.5);
    border-radius: 15px;
    box-shadow: 2px 2px 4px $clr-dark-100;
  }
}

.spinner {
  @include push--auto;
}
