@use "../abstracts" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  color: $clr-light-100;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: $clr-light-100;
}

input::placeholder {
  color: $clr-light-100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-light-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
