@use "../abstracts" as *;

:root {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  color: $clr-light-100;
}

// FORMS

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: $clr-light-100;
  font-size: 2rem;

  &:focus {
    box-shadow: 0 0 8px 8px $clr-light-200;
  }
}

input::placeholder {
  color: $clr-light-100;
}

button {
  cursor: pointer;
}

.btn--icon {
  line-height: 0;
}

// LISTS

ul {
  list-style: none;
}

// TYPOGRAPHY

p {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
