@use '../abstracts/' as *;

.alert {
  text-align: center;
  border: 2px solid $clr-light-100;
  margin: 0 2rem;
  padding: 0.5rem;
  background: yellow;
}

.dangerous {
  background: #e63946;
}

.good {
  background: #55a630;
}

.warn {
  background: #f8961e;
}
