@use '../abstracts' as *;

.sites {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 800px) {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  @media (min-width: 1200px) {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  &__slider {
    margin-top: 2rem;
    @include push--auto;
    max-width: 95%;
    min-width: 60%;

    @media (min-width: 500px) {
      max-width: 80%;
    }
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba($clr-additional-200, 0.3);
    padding: 1rem;
    transition: 0.3s;

    & > img {
      height: 3rem;
      width: 3rem;
    }

    &:hover {
      background: rgba($clr-additional-100, 0.2);
    }
  }
}

.slick-slide > div {
  margin: 0 0.5rem;

  @media (min-width: 500px) {
    margin: 0 1rem;
  }
}
.slick-list {
  margin: 0 -1rem;
}
