@use '../abstracts/' as *;

.btn__navigation {
  @include push--auto;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-radius: 50%;
  background-color: $clr-dark-100;

  @media (min-width: 500px) {
    width: 3em;
    height: 3em;
  }

  @media (min-width: 1200px) {
    width: 3.5em;
    height: 3.5em;
  }
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  opacity: 0;

  @media (min-width: 500px) {
    width: 50rem;
    height: 50rem;
  }

  @media (min-width: 1100px) {
    width: 70rem;
    height: 70rem;
  }

  &__quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid $clr-light-200;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: $clr-dark-200;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
      }
    }

    &--top__left {
      top: 0;
      left: 0;
      background: $clr-dark-100;

      &:hover {
        top: -3%;
        left: -3%;
      }
    }

    &--top__right {
      top: 0;
      right: 0;
      background: $clr-dark-100;

      &:hover {
        top: -3%;
        right: -3%;
      }
    }

    &--bottom__right {
      bottom: 0;
      right: 0;
      background: $clr-dark-100;

      &:hover {
        bottom: -3%;
        right: -3%;
      }
    }

    &--bottom__left {
      bottom: 0;
      left: 0;
      background: $clr-dark-100;

      &:hover {
        bottom: -3%;
        left: -3%;
      }
    }

    @media (min-width: 500px) {
      &--top__left {
        border-radius: 100% 0 0 0;
      }

      &--top__right {
        border-radius: 0 100% 0 0;
      }

      &--bottom__right {
        border-radius: 0 0 100% 0;
      }

      &--bottom__left {
        border-radius: 0 0 0 100%;
      }
    }
  }

  &__cutout {
    width: 65%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #8371cd, #ffffff);
    @include center;

    @media (min-width: 500px) {
      border-radius: 50%;
      width: 60%;
      height: 60%;
    }
  }

  &__icon {
    font-size: 2em;
    position: absolute;

    &--cog {
      top: 15%;
      left: 15%;
    }

    &--bookmark {
      top: 15%;
      right: 15%;
    }

    &--plus {
      bottom: 15%;
      right: 15%;
    }

    &--palette {
      bottom: 15%;
      left: 15%;
    }

    @media (min-width: 500px) {
      &--cog {
        top: 35%;
        left: 35%;
      }

      &--bookmark {
        top: 35%;
        right: 35%;
      }

      &--plus {
        bottom: 35%;
        right: 35%;
      }

      &--palette {
        bottom: 35%;
        left: 35%;
      }
    }
  }

  &__logo {
    max-width: 10em;
    max-height: 10em;
    cursor: pointer;

    @media (min-width: 500px) {
      max-width: 15em;
      max-height: 15em;
    }
  }
}
