@use '../abstracts/' as *;

.notes {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.note__title {
  margin-bottom: 0.5rem;
}

.note__content {
  text-align: justify;
}
