@use '../abstracts/' as *;

.notes {
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 3rem;

  @media (min-width: 800px) {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  @media (min-width: 1200px) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.note {
  padding: 1rem 0;
  border-top: 1px dotted $clr-light-100;

  &__delete__btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.note__title {
  margin-bottom: 0.5rem;
  position: relative;
}

.note__content {
  text-align: justify;
  max-width: 100%;
}

.note__modify__form {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px dotted $clr-light-100;
}

.note__modify__title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2em;
}

.note__modify__content {
  font-size: 1.5rem;
  resize: none;
}

.save__note {
  @include push--auto;
}
