@use '../abstracts/' as *;

.premieres {
  grid-column: 3/4;
  grid-row: 3/5;

  &__controls {
    margin: 1rem 0;
    border: 2px solid $clr-light-100;
    display: flex;
    align-items: center;
  }
}

.input__tvShow__title {
  width: 95%;
  padding: 0.5rem;
}

.input__tvShow__submit {
  margin-left: auto;
  margin-right: 0.5rem;
}

// Results | TvShowsList

.search__results,
.list__results {
  text-align: center;
  width: 100%;
}

.search__item > td,
.tvShow__item > td {
  border-bottom: 1px solid $clr-light-100;
  padding: 1rem 0;
}

.search__add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__title {
  margin-bottom: 1rem;
  position: relative;
}

.search__close {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
