@use '../abstracts/' as *;

.premieres {
  grid-column: 3/4;
  grid-row: 3/5;
  padding: 1rem;
  overflow-y: auto;

  &__controls {
    margin: 1rem 0;
    border: 2px solid $clr-light-100;
    display: flex;
    align-items: center;
  }
}

.input__movie__title {
  width: 95%;
  font-size: 1.3rem;
  padding: 0.3rem;
}

.input__movie__submit {
  line-height: 0;
  font-size: 1.5rem;
  margin-left: auto;
}

.premiere {
  display: flex;
  align-items: center;
  border: 2px solid $clr-light-100;
  padding: 0.8rem;
  margin: 0.5rem;
}

.btn__premiere__delete {
  font-size: 1.3rem;
  margin-left: auto;
}

.search__results {
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
}

.search__item > td {
  border-bottom: 1px solid $clr-light-100;
  padding: 0.5rem 0;
}

.search__add {
  display: flex;
  align-items: center;
  justify-content: center;

  &--btn {
    padding: 0 0.5rem;
    font-size: 1rem;
  }
}

.search__title {
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.search__close {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  left: 0;
}
