@use '../abstracts' as *;

.search {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 800px) {
    grid-row: 2/3;
    grid-column: 2/4;
  }

  @media (min-width: 1200px) {
    grid-row: 2/4;
    grid-column: 2/3;
  }

  &__bar {
    width: 100%;
    border-bottom: 0.3rem solid $clr-light-100;
    min-width: 80%;
    padding: 0.5rem;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 2.5em;

  @media (min-width: 500px) {
    font-size: 4em;
  }

  &__link {
    transition: 0.5s;
    padding: 1rem;
    line-height: 0;

    &:hover {
      transform: rotateZ(30deg);
    }
  }
}
