@use '../abstracts' as *;

.search {
  grid-row: 2/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bar {
    width: 100%;
    border-bottom: 0.3rem solid $clr-light-100;
    min-width: 80%;
    padding: 0.5rem 0;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 4em;

  &__link {
    transition: 0.5s;
    padding: 1rem;
    line-height: 0;

    &:hover {
      transform: rotateZ(30deg);
    }
  }
}
