@use '../abstracts/' as *;

.container__subMenu {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: center;
  background: $clr-additional-100;
  overflow-y: auto;
}

.subMenu__control__btn {
  margin-top: 1rem;
  font-size: 4rem;
  margin: 1rem;
}

// Options

.options__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 70%;
}

.options__form::-webkit-scrollbar {
  display: none;
}

.option__group {
  display: flex;
  align-items: center;
  width: 60%;
  @include push--auto;
  margin-top: 2rem;
  font-size: 1.5em;
}

.option__input {
  margin-left: auto;
}

// Bookmarks

.bookmark__label {
  font-size: 2em;
  margin: 1rem;
}

.bookmarks__input {
  border-bottom: 2px solid $clr-light-100;
}

.bookmarks__submit {
  margin: 1rem;
  padding: 0.5em;
  border: 2px solid $clr-light-100;
  transition: 0.3s;

  &:hover {
    background: $clr-dark-100;
  }
}

.bookmark {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.bookmark__remove__btn {
  margin-right: auto;
}
