@use '../abstracts/' as *;

.time__weather {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  padding: 1rem 2rem;

  @media (min-width: 800px) {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  @media (min-width: 1200px) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.header__time {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.actual__date,
.actual__weather {
  font-size: 2rem;
  line-height: 0;
  margin: 0 1rem;
}
