@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: 0 0 8px 8px #dad4d4;
}

input::placeholder {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.search {
  grid-row: 2/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.search__bar {
  width: 100%;
  border-bottom: 0.3rem solid #fff;
  min-width: 80%;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  font-size: 2.5rem;
}
.socials__link {
  transition: 0.5s;
  padding: 0.2rem;
}
.socials__link:hover {
  transform: rotateZ(20deg);
}

.btn__navigation {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #343131;
  font-size: 2rem;
  cursor: pointer;
}

.sites {
  grid-row: 4/5;
  grid-column: 2/3;
}
.sites__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.sites__slider {
  display: flex;
  gap: inherit;
}
.sites__item {
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 15px;
}
.sites__controls {
  color: #fff;
  cursor: pointer;
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
}
.navigation__quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid #dad4d4;
  transition: 0.3s;
  cursor: pointer;
}
.navigation__quarter:hover {
  background: #474242;
}
.navigation__quarter--top__left {
  top: 0;
  left: 0;
  background: #343131;
  border-radius: 100% 0 0 0;
}
.navigation__quarter--top__left:hover {
  top: -3%;
  left: -3%;
}
.navigation__quarter--top__right {
  top: 0;
  right: 0;
  background: #343131;
  border-radius: 0 100% 0 0;
}
.navigation__quarter--top__right:hover {
  top: -3%;
  right: -3%;
}
.navigation__quarter--bottom__right {
  bottom: 0;
  right: 0;
  background: #343131;
  border-radius: 0 0 100% 0;
}
.navigation__quarter--bottom__right:hover {
  bottom: -3%;
  right: -3%;
}
.navigation__quarter--bottom__left {
  bottom: 0;
  left: 0;
  background: #343131;
  border-radius: 0 0 0 100%;
}
.navigation__quarter--bottom__left:hover {
  bottom: -3%;
  left: -3%;
}
.navigation__cutout {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
  background: linear-gradient(45deg, #8371cd, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.navigation__icon {
  font-size: 3em;
  position: absolute;
}
.navigation__icon--cog {
  top: 35%;
  left: 35%;
}
.navigation__icon--bookmark {
  top: 35%;
  right: 35%;
}
.navigation__icon--plus {
  bottom: 35%;
  right: 35%;
}
.navigation__icon--palette {
  bottom: 35%;
  left: 35%;
}
.navigation__logo {
  max-width: 10rem;
  max-height: 10rem;
  cursor: pointer;
}

body {
  background: linear-gradient(45deg, #e855e9 10%, #7e89c1, #00d4ff);
}

.container__main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

/*# sourceMappingURL=main.css.map */
