@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  font-size: 10px;
  color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 2rem;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: 0 0 8px 8px #dad4d4;
}

input::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
}

.btn--icon {
  line-height: 0;
}

.form--empty {
  border-color: #e63946 !important;
}

ul {
  list-style: none;
}

p {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.search {
  grid-row: 2/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search__bar {
  width: 100%;
  border-bottom: 0.3rem solid #fff;
  min-width: 80%;
  padding: 0.5rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 4em;
}
.socials__link {
  transition: 0.5s;
  padding: 1rem;
  line-height: 0;
}
.socials__link:hover {
  transform: rotateZ(30deg);
}

.sites {
  grid-row: 4/5;
  grid-column: 2/3;
}
.sites__slider {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}
.sites__item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(52, 49, 49, 0.5);
  padding: 1rem;
  transition: 0.3s;
}
.sites__item > img {
  height: 3rem;
  width: 3rem;
}
.sites__item:hover {
  background: rgba(52, 49, 49, 0.2);
}

.slick-slide > div {
  margin: 0 1rem;
}

.slick-list {
  margin: 0 0rem;
}

.btn__navigation {
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-radius: 50%;
  background-color: #343131;
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 70rem;
}
.navigation__quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid #dad4d4;
  transition: 0.3s;
  cursor: pointer;
}
.navigation__quarter:hover {
  background: #474242;
}
.navigation__quarter:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
}
.navigation__quarter--top__left {
  top: 0;
  left: 0;
  background: #343131;
  border-radius: 100% 0 0 0;
}
.navigation__quarter--top__left:hover {
  top: -3%;
  left: -3%;
}
.navigation__quarter--top__right {
  top: 0;
  right: 0;
  background: #343131;
  border-radius: 0 100% 0 0;
}
.navigation__quarter--top__right:hover {
  top: -3%;
  right: -3%;
}
.navigation__quarter--bottom__right {
  bottom: 0;
  right: 0;
  background: #343131;
  border-radius: 0 0 100% 0;
}
.navigation__quarter--bottom__right:hover {
  bottom: -3%;
  right: -3%;
}
.navigation__quarter--bottom__left {
  bottom: 0;
  left: 0;
  background: #343131;
  border-radius: 0 0 0 100%;
}
.navigation__quarter--bottom__left:hover {
  bottom: -3%;
  left: -3%;
}
.navigation__cutout {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #8371cd, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.navigation__icon {
  font-size: 2em;
  position: absolute;
}
.navigation__icon--cog {
  top: 35%;
  left: 35%;
}
.navigation__icon--bookmark {
  top: 35%;
  right: 35%;
}
.navigation__icon--plus {
  bottom: 35%;
  right: 35%;
}
.navigation__icon--palette {
  bottom: 35%;
  left: 35%;
}
.navigation__logo {
  max-width: 15em;
  max-height: 15em;
  cursor: pointer;
}

.daily__tasks {
  grid-column: 3/4;
  grid-row: 1/3;
}

.tasks__form {
  display: flex;
  margin: 1rem 0;
  border: 2px solid #fff;
  padding: 0.5rem;
}

.input__task__title {
  width: 75%;
}

.input__task__time {
  width: 15%;
  text-align: center;
}

.input__task__btn {
  padding: 0 2.5%;
  margin-left: auto;
}

.input__task__time::-webkit-calendar-picker-indicator {
  display: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #fff;
  padding: 0.5rem;
  margin: 2rem 0.5rem;
}

.task__title,
.task__time {
  width: 100%;
}

.task__time {
  font-size: 2em;
}

.task__controls {
  margin-left: auto;
  display: inherit;
  align-items: inherit;
  gap: 2rem;
}

.premieres {
  grid-column: 3/4;
  grid-row: 3/5;
}
.premieres__controls {
  margin: 1rem 0;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
}

.input__tvShow__title {
  width: 95%;
  padding: 0.5rem;
}

.input__tvShow__submit {
  margin-left: auto;
  margin-right: 0.5rem;
}

.search__results,
.list__results {
  text-align: center;
  width: 100%;
}

.search__item > td,
.tvShow__item > td {
  border-bottom: 1px solid #fff;
  padding: 1rem 0;
}

.search__add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__title {
  margin-bottom: 1rem;
  position: relative;
}

.search__close {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.notes {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 3rem;
}

.note {
  padding: 1rem 0;
  border-top: 1px dotted #fff;
}
.note__delete__btn {
  position: absolute;
  right: 0;
  top: 0;
}

.note__title {
  margin-bottom: 0.5rem;
  position: relative;
}

.note__content {
  text-align: justify;
  max-width: 100%;
}

.note__modify__form {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px dotted #fff;
}

.note__modify__title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2em;
}

.note__modify__content {
  font-size: 1.5rem;
  resize: none;
}

.btn--save__note {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid #dad4d4;
  border-radius: 0 0 0 0;
}

.crypto {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.crypto__select, .crypto__price {
  margin-left: auto;
  margin-right: auto;
}
.crypto__select {
  border-bottom: 2px solid #fff;
}
.crypto__option {
  color: #343131;
}

.time__weather {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding: 1rem 2rem;
}

.header__time {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.actual__date,
.actual__weather {
  font-size: 2rem;
  line-height: 0;
  margin: 0 1rem;
}

.container__subMenu {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: center;
  background: #9fa0ff;
  overflow-y: auto;
}

.subMenu__control__btn {
  margin-top: 1rem;
  font-size: 4rem;
  margin: 1rem;
}

.options__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 70%;
}

.options__form::-webkit-scrollbar {
  display: none;
}

.option__group {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 1.5em;
}

.option__input {
  margin-left: auto;
}

.bookmark__label {
  font-size: 2em;
  margin: 1rem;
}

.bookmarks__input {
  border-bottom: 2px solid #fff;
}

.bookmarks__submit {
  margin: 1rem;
  padding: 0.5em;
  border: 2px solid #fff;
  transition: 0.3s;
}
.bookmarks__submit:hover {
  background: #343131;
}

.bookmark {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.bookmark__remove__btn {
  margin-right: auto;
}

.alert {
  text-align: center;
  border: 2px solid #fff;
  margin: 0 2rem;
  padding: 0.5rem;
  background: yellow;
}

.dangerous {
  background: #e63946;
}

.good {
  background: #55a630;
}

.warn {
  background: #f8961e;
}

body {
  background: linear-gradient(45deg, #e855e9, #7e89c1, #00d4ff);
}

.container__grid {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}

.container--widget {
  padding: 1rem 2rem;
  overflow-y: auto;
  word-wrap: break-word;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=main.css.map */
