@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  font-size: 10px;
  color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 1.5rem;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: inset 0 0 4px 4px #dad4d4;
}

input::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
}

.btn--icon {
  line-height: 0;
}

.btn--default {
  padding: 0.5em;
  border: 2px solid #fff;
  transition: 0.3s;
}
.btn--default:hover {
  background: #343131;
}

.form--empty {
  border-color: #e63946 !important;
}

ul {
  list-style: none;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

@media (min-width: 500px) {
  label {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5em;
  }

  input,
textarea,
select,
button {
    font-size: 2rem;
  }
}
.container--widget {
  position: relative;
  padding: 1rem 2rem;
  overflow-y: auto;
  word-wrap: break-word;
  margin: 5px;
}
.container--widget__background {
  background-color: rgba(71, 66, 66, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 4px #343131;
}
.container--widget::-webkit-scrollbar {
  overflow: hidden;
  width: 10px;
}
.container--widget::-webkit-scrollbar-track {
  background: transparent;
}
.container--widget::-webkit-scrollbar-thumb {
  background: linear-gradient(#185adb, #9fa0ff);
  border-radius: 15px;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}

.search {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 800px) {
  .search {
    grid-row: 2/3;
    grid-column: 2/4;
  }
}
@media (min-width: 1200px) {
  .search {
    grid-row: 2/4;
    grid-column: 2/3;
  }
}
.search__bar {
  width: 100%;
  border-bottom: 0.3rem solid #fff;
  min-width: 80%;
  padding: 0.5rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 2.5em;
}
@media (min-width: 500px) {
  .socials {
    font-size: 4em;
  }
}
.socials__link {
  transition: 0.5s;
  padding: 1rem;
  line-height: 0;
}
.socials__link:hover {
  transform: rotateZ(30deg);
}

.sites {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 800px) {
  .sites {
    grid-row: 3/4;
    grid-column: 2/4;
  }
}
@media (min-width: 1200px) {
  .sites {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}
.sites__slider {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  min-width: 60%;
}
@media (min-width: 500px) {
  .sites__slider {
    max-width: 80%;
  }
}
.sites__item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: rgba(52, 49, 49, 0.5);
  padding: 1rem;
  transition: 0.3s;
}
.sites__item > img {
  height: 3rem;
  width: 3rem;
}
.sites__item:hover {
  background: rgba(159, 160, 255, 0.2);
}

.slick-slide > div {
  margin: 0 0.5rem;
}
@media (min-width: 500px) {
  .slick-slide > div {
    margin: 0 1rem;
  }
}

.slick-list {
  margin: 0 -1rem;
}

.btn__navigation {
  margin-left: auto;
  margin-right: auto;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-radius: 50%;
  background-color: #474242;
  transition: 0.3s;
  box-shadow: 0px 0px 8px #9fa0ff;
}
.btn__navigation:hover {
  background-color: #fff;
  color: black;
}
@media (min-width: 500px) {
  .btn__navigation {
    width: 3em;
    height: 3em;
  }
}
@media (min-width: 1200px) {
  .btn__navigation {
    width: 3.5em;
    height: 3.5em;
  }
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  opacity: 0;
}
@media (min-width: 500px) {
  .navigation {
    width: 50rem;
    height: 50rem;
  }
}
@media (min-width: 1100px) {
  .navigation {
    width: 70rem;
    height: 70rem;
  }
}
.navigation__quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid #dad4d4;
  transition: 0.3s;
  cursor: pointer;
}
.navigation__quarter:hover {
  background: #474242;
}
.navigation__quarter:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
}
.navigation__quarter--top__left {
  top: 0;
  left: 0;
  background: #343131;
}
.navigation__quarter--top__left:hover {
  top: -3%;
  left: -3%;
}
.navigation__quarter--top__right {
  top: 0;
  right: 0;
  background: #343131;
}
.navigation__quarter--top__right:hover {
  top: -3%;
  right: -3%;
}
.navigation__quarter--bottom__right {
  bottom: 0;
  right: 0;
  background: #343131;
}
.navigation__quarter--bottom__right:hover {
  bottom: -3%;
  right: -3%;
}
.navigation__quarter--bottom__left {
  bottom: 0;
  left: 0;
  background: #343131;
}
.navigation__quarter--bottom__left:hover {
  bottom: -3%;
  left: -3%;
}
@media (min-width: 500px) {
  .navigation__quarter--top__left {
    border-radius: 100% 0 0 0;
  }
  .navigation__quarter--top__right {
    border-radius: 0 100% 0 0;
  }
  .navigation__quarter--bottom__right {
    border-radius: 0 0 100% 0;
  }
  .navigation__quarter--bottom__left {
    border-radius: 0 0 0 100%;
  }
}
.navigation__cutout {
  width: 65%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #8371cd, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 500px) {
  .navigation__cutout {
    border-radius: 50%;
    width: 60%;
    height: 60%;
  }
}
.navigation__icon {
  font-size: 2em;
  position: absolute;
}
.navigation__icon--cog {
  top: 15%;
  left: 15%;
}
.navigation__icon--bookmark {
  top: 15%;
  right: 15%;
}
.navigation__icon--plus {
  bottom: 15%;
  right: 15%;
}
.navigation__icon--palette {
  bottom: 15%;
  left: 15%;
}
@media (min-width: 500px) {
  .navigation__icon--cog {
    top: 35%;
    left: 35%;
  }
  .navigation__icon--bookmark {
    top: 35%;
    right: 35%;
  }
  .navigation__icon--plus {
    bottom: 35%;
    right: 35%;
  }
  .navigation__icon--palette {
    bottom: 35%;
    left: 35%;
  }
}
.navigation__logo {
  max-width: 10em;
  max-height: 10em;
  cursor: pointer;
}
@media (min-width: 500px) {
  .navigation__logo {
    max-width: 15em;
    max-height: 15em;
  }
}

.daily__tasks {
  grid-column: 1/2;
  grid-row: 5/6;
}
@media (min-width: 800px) {
  .daily__tasks {
    grid-column: 3/5;
    grid-row: 4/5;
  }
}
@media (min-width: 1200px) {
  .daily__tasks {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

.tasks__controls {
  display: flex;
  margin: 1rem 0;
  border: 2px solid #fff;
}

.input__task__title {
  flex-grow: 2;
  padding: 0.5rem;
}

.input__task__time {
  flex-grow: 2;
  text-align: center;
  padding: 0.5rem;
}

.input__task__btn {
  padding: 0 2.5%;
  margin-left: auto;
}

.input__task__time::-webkit-calendar-picker-indicator {
  display: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid #fff;
  background: rgba(126, 126, 129, 0.5);
  padding: 0.5rem;
  margin: 2rem 0.5rem;
}

.task__title {
  width: 70%;
}

.task__time {
  width: 20%;
}

.task__time {
  font-size: 2em;
}

.task__controls {
  margin-left: auto;
  display: inherit;
  align-items: inherit;
  gap: 2rem;
}

.premieres {
  grid-column: 1/2;
  grid-row: 4/5;
}
@media (min-width: 800px) {
  .premieres {
    grid-column: 3/5;
    grid-row: 5/6;
  }
}
@media (min-width: 1200px) {
  .premieres {
    grid-column: 3/4;
    grid-row: 3/5;
  }
}
.premieres__controls {
  margin: 1rem 0;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
}

.input__tvShow__title {
  width: 95%;
  padding: 0.5rem;
}

.input__tvShow__submit {
  margin-left: auto;
  margin-right: 0.5rem;
}

.search__results,
.list__results {
  text-align: center;
  width: 100%;
}

.search__item > td,
.tvShow__item > td {
  border-bottom: 1px solid #fff;
  padding: 1rem 0;
}

.search__add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__title {
  margin-bottom: 1rem;
  position: relative;
}

.search__close {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.notes {
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 3rem;
}
@media (min-width: 800px) {
  .notes {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
@media (min-width: 1200px) {
  .notes {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.note {
  padding: 1rem 0;
  border-top: 1px dotted #fff;
}
.note__delete__btn {
  position: absolute;
  right: 0;
  top: 0;
}

.note__title {
  margin-bottom: 0.5rem;
  position: relative;
}

.note__content {
  text-align: justify;
  max-width: 100%;
}

.note__modify__form {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px dotted #fff;
}

.note__modify__title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2em;
}

.note__modify__content {
  font-size: 1.5rem;
  resize: none;
}

.save__note {
  margin-left: auto;
  margin-right: auto;
}

.crypto {
  grid-column: 1/2;
  grid-row: 7/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 800px) {
  .crypto {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}
@media (min-width: 1200px) {
  .crypto {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.crypto__select, .crypto__price {
  margin-left: auto;
  margin-right: auto;
}
.crypto__select {
  border-bottom: 2px solid #fff;
}
.crypto__option {
  color: #343131;
}

.time__weather {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  padding: 1rem 2rem;
}
@media (min-width: 800px) {
  .time__weather {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  .time__weather {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.header__time {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.actual__date,
.actual__weather {
  font-size: 2rem;
  line-height: 0;
  margin: 0 1rem;
}

.container__subMenu {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: center;
  background: #9fa0ff;
  overflow-y: auto;
  opacity: 0;
}

.subMenu__control__btn {
  margin-top: 1rem;
  font-size: 4rem;
  margin: 1rem;
}

.options__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 70%;
}

.options__form::-webkit-scrollbar {
  display: none;
}

.option__group {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 1.2em;
}
@media (min-width: 500px) {
  .option__group {
    font-size: 1.5em;
  }
}

.option__input {
  margin-left: auto;
}

.bookmark__label {
  margin: 1rem;
}

.bookmarks__input {
  border-bottom: 2px solid #fff;
}

.bookmarks__submit {
  margin: 1rem;
}

.bookmark {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 2em;
  border-bottom: 1px dashed #fff;
}

.bookmark__icon {
  width: 2rem;
  height: 2rem;
}

.bookmark__remove__btn {
  margin-left: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.about__description {
  width: 80%;
}

.color__box {
  padding: 1rem 0;
  border-bottom: 2px solid #fff;
}

.color__title {
  max-width: 70%;
  text-align: left;
}

.colors__default {
  margin-top: 1rem;
}

.container__grid {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 45vh 30vh repeat(4, minmax(0vh, 50vh));
  gap: 2rem;
}
@media (min-width: 800px) {
  .container__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 60vh 25vh repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .container__grid {
    gap: 2rem;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
